
@{
    ViewData["Title"] = "صفحة الدعم الفنى";
}

<h3>صفحة الدعم الفنى</h3>

<div class="techSupportSection d-flex">
    <div class="col-5 message_card-column-wapper">
        <div class="message_card-column">
           
        </div>
    </div>
    <div class="col-7">
        <div class="message-chatting-column p-2">
            <div class="d-flex flex-column">
                <div class="sender-message">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                            <div class="mx-1 d-flex">
                                <div class="b-type badge badge-secondary py-1">
                                    صيدلية
                                </div>
                                <div class="mr-2">
                                    <span class="text-primary">د احمد عبدالعزيز</span>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="b-type badge badge-secondary py-1">
                                    العنوان
                                </div>
                                <div class="text-info mr-2">
                                    شارع الجمهورة / اخميم
                                </div>
                            </div>
                            <div class="time mx-1">
                                <span class="text-black-50">12-12-2012 23:22AM</span>
                            </div>
                        </div>
                        <div class="sender-message-container bg-white mt-3">
                            <div class="text text-primary">
                                لقد ارست اليك رسالة مهمة جدا
                                بالامس ولكن لا احد يقوم بالرد على وانا فى حاجة ماسة
                                لالااستفستفسار عز ش
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admin-control mt-2">
                    <div class="controls d-flex flex-column">
                        <textarea rows="6" placeholder="قم بالرد على رسالة العميل" class="form-control"></textarea>
                        <button class="btn btn-primary btn-sm mx-2 shadow d-inline-block mt-2">
                            <span class="fa fa-send-o"></span>
                            <span class="mr-1">ارسال</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="cloned-message-card" class="d-none">
    <div class="d-flex flex-column cloned-card">
        <div class="message-card my-1">
            <div class="d-flex flex-column">
                <div class="message-content">
                    <div class="text-truncate message">
                        لقد ارست اليك رسالة مهمة جدا
                        بالامس ولكن لا احد يقوم بالرد على وانا فى حاجة ماسة
                        لالااستفستفسار عز ش~
                    </div>
                </div>
                <div class="message-info mb-1">
                    <div class="d-flex justify-content-between">
                        <div class="cutomer-title">
                            <span class="customer-title-suffex">ص/</span>
                            <span class="customer-title-text badge badge-info">احم عبدالعزيز</span>
                        </div>
                        <div class="cutomer-address  flex-grow-1 text-center">
                            <span class="customer-address text-truncate">شارع الجمهورية</span>
                        </div>
                    </div>
                </div>
                <div class="message-time">
                    <span class="time text-black-50 text-center">12/23/2023 12:12Pm</span>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-warning cloned-no-message mt-2">
        لا يوجد رسالة حاليا
    </div>
</div>
