  @{ 
      Layout = null;
  }
<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/AdminRtl/favicon.ico" />
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="~/AdminRtl/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>دخول الى لوحة التحكم</title>
</head>
<body class="isLoading">
    <section class="material-half-bg">
        <div class="cover"></div>
    </section>
    <section class="login-content">
        <div class="logo">
            <img height="200" src="~/Images/AdminPanel/Bg_And_Logo/company.png" />
        </div>
        <div class="login-box">          
            <form class="login-form" id="login-form">
                <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>دخول</h3>
                <h6 id="generalError">
                </h6>
                <div class="form-group">
                    <label class="control-label">اسم المستخدم</label>
                    <input id="userNameInpt" class="form-control" type="text" placeholder="اسم المستخدم" autofocus required title="ادخل اسم المستخدم">
                    <div class="form-control-feedback"></div>
                </div>
                <div class="form-group">
                    <label class="control-label">كلمة المرور</label>
                    <input id="passwordInpt" class="form-control" type="password" placeholder="كلمة المرور" required title="ادخل كلمة المرور">
                    <div class="form-control-feedback"></div>
                </div>
                <div class="btn-group d-none" role="group">
                    <button class="btn btn-primary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        نوع المسؤل
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
                <input type="hidden" name="adminType" value="Administrator" />
                <div class="form-group">
                    <div class="utility">
                        <div class="animated-checkbox">
                            <label>
                                <input id="rememberMeInpt" type="checkbox" value="false"><span class="label-text">تذكرنى</span>
                            </label>
                        </div>
                        <p class="semibold-text mb-2"><a href="#" data-toggle="flip">هل نسيت كلمة السر ؟</a></p>
                    </div>
                </div>
                <div class="form-group btn-container">
                    <button class="btn btn-primary btn-block" id="loginBtnSubmit">                        
                        <i class="fa fa-sign-in fa-lg fa-fw"></i>دخول الان
                    </button>
                </div>
            </form>
            <div class="forget-form">
                <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>هل نسيت كلمة السر</h3>
                <div>
                    يمكنك التواصل مع المسؤل الرئيسى للموقع لاستعادة كلمة السر
                </div>
                <div>
                    فى حالة اذا كنت انت نفسك المسؤل الاساسى للموقع ,يمكنك التواصل بفرق التطوير لاستعادة كلمة السر
                </div>
                <div class="form-group mt-3">
                    <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-right fa-fw"></i>رجوع الى الدخول</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="d-none">
        <form action="/adminpanel/auth/signin" method="POST" id="PostedFormOfSignIn">
            <input type="text" id="PostSign_Id" name="Id" value="" />
            <input type="text" id="PostSign_Name" name="Name" value="" />
            <input type="text" id="PostSign_PhoneNumber" name="PhoneNumber" value="" />
            <input type="text" id="PostSign_UserName" name="UserName" value="" />
            <input type="text" id="PostSign_Prevligs" name="Prevligs" value="" />
            <input type="checkbox" id="PostSign_RememberMe" name="RememberMe" value="true" />
            <input type="text" id="PostSign_ReturnUrl" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />
        </form>
    </section>
    <!-- Essential javascripts for application to work-->
    <script src="~/AdminRtl/js/jquery-3.2.1.min.js"></script>
    <script src="~/AdminRtl/js/popper.min.js"></script>
    <script src="~/AdminRtl/js/bootstrap.min.js"></script>
    <script src="~/AdminRtl/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="~/AdminRtl/js/plugins/pace.min.js"></script>
    <script src="~/AdminRtl/js/Scripts/Utiles.js"></script>
    <script src="~/AdminRtl/js/Scripts/loginPageScript.js"></script>
</body>
</html>

